h1
{
	color:#009688;
	font-family: 'bree serif',serif;

}
#para
{
	color:#3e2723;

}
#sub
{
	font-family: 'bree serif',serif;
	
}
.icon{
	width: 50px;
}
.division second{
	height: 900px !important;
}
.navbar-fixed
{
	height:0px;
}
@media screen and (max-width: 768px){
  h4{
   margin-top:75px;
  }
  footer{
    display: hidden;
}
